.card-detail {
   width:200px;
   min-width:200px;

    border-radius: 3px;
    border: 3px solid black;
    /*box-shadow: 1px 1px 0px #888;*/
    background-color: black;
}


.card-art {
   width: 100%;
   display: block;
}
