.card-detail {
   border-radius: 3px;
   border: 3px solid black;
   /*box-shadow: 1px 1px 0px #888;*/
   background-color: black;
}

@media (max-width: 480px)  {
   .card-detail {
      min-width: 100px;
   }
}

.card-art {
   width: 100%;
   max-height: 100%;
   display: block;
}
