.choose-label {
   font-size: 4em;
   margin: 0 auto;
   text-align: center;
}

.guilds {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}

@media (max-width: 480px)  {
   .guilds {
      flex-direction: column;
   }
}
