.arena {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.arena-body {
   display: flex;
   flex: 1;
}

.arena-content {
   flex: 1;
}

.arena-header{
   color: #ddd;
   font-size: 2em;
   font-family: sans-serif;
   font-style: italic;
   background-color: #333;
}

.arena-header > span {
   padding-left: 2em;
}

.arena-header a {
  color: inherit; 
  text-decoration: inherit; /* no underline */
}

.arena-header span {
   line-height: 50px;
   padding-left: 10px;
}


.booster {
}

.decklist-col {
   background-color: #ddd;
   flex: 0 1 25%; 
   max-height:100%;
   margin-left: auto;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}

.decklist-header {
   text-align: center;
   flex: 0;
}

.decklist {
   overflow-x: hidden;
   overflow-y: auto;
   height: 1px;  // weird but works in tandem with flex and min-height
   min-height: min-content;
   flex: 1;
}

.decklist-count {
   margin-top: auto;
   flex: 0;
}

@media (max-width: 1000px) {
   .arena-body {
      flex-direction: column;
      flex: 1;
      align-items: center;
   }

   .arena-content {
      flex: 1;
   }

   .decklist-col {
      margin: 0;
      width: 45%;
   }

   .decklist {
      overflow: auto;
      height: 100%;
      flex: 1;
   }

   /*
   .decklist {
      /* max-width: 50%; 
   }
   */
}

@media (max-width: 480px) {
   .decklist-col {
      width: 100%;
   }
}
