<div class="arena">
   <div class="arena-header">
      <span><a href="/">Lightning Draft</a></span>
   </div>
   <div class="arena-body">
      <div class="arena-content">
         <div *ngIf="status=='setup'">
            <div #guildHint> </div>
            <app-guild-choice></app-guild-choice>
         </div>
         <div *ngIf="status=='running'">
            <div *ngIf="deck.length==0" class="choose-label">
               Choose a card
            </div>
            <div *ngIf="deck.length==1" class="choose-label">
               Build a 25 card deck
            </div>
            <div class="booster">
               <app-booster-pack></app-booster-pack>
            </div>
         </div>
         <div *ngIf="status=='completed'">
            <app-completed-screen [draft]="draft"></app-completed-screen>
         </div>
      </div>
      <div class="decklist-col">
         <div class="decklist-header">
            Decklist
         </div>
         <div #scrollMe class="decklist" [class.decklist-completed]="finalizeDecklist">
            <app-decklist></app-decklist>
         </div>
         <div class="decklist-count">
            <app-decklist-count></app-decklist-count>
         </div>

         <div class="decklist-footer"> </div>
      </div>
   </div>
   <div class="footer">
   
   </div>
</div>
