<div class="body">
   <div class="grid-container">
      <div class="header">
         <!--<app-navigation-bar></app-navigation-bar>-->
      </div>
      <div class="arena">
         <!--
         <div class="choose">
            Choose a Card
         </div>
         -->
         <div *ngIf="status=='setup'">
            <app-guild-choice></app-guild-choice>
         </div>

         <div class="booster">
            <app-booster-pack></app-booster-pack>
         </div>
      </div>
      <div class="decklist-col"> 
         <div class="decklist-header">
            Decklist
         </div>
         <div #scrollMe class="decklist">
            <app-decklist></app-decklist>
         </div>
      </div>
      <div class="footer"></div>
   </div>
</div>
