.body {
}

.grid-container {
   display: grid;
   grid-template-columns: 3fr 1fr;
   grid-template-rows: auto;

   grid-column-gap: 20px;
   justify-content: center; /* centers the whole app */
}

.arena {
   grid-column-start: 1;
   grid-column-end: 2;
   background-color: green;
}

.choose {
   font-size: 1em;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
   grid-area: "title";
}

.booster {
   grid-area: "cards";
   background-color: cyan;
}

.decklist-col {
   grid-column-start: 2;
   grid-column-end: 3;
   align-items: top;
   background-color: coral;
}

.decklist {
   overflow-x: hidden;
   overflow-y: auto;
   height: 50vh; /*TODO use vh units*/
   align-items: top;
   align-self: stretch;
}

.decklist-header {
   justify-content: center;
   background-color: cyan;
   text-align: center;
}

.header {
   grid-area: "header";
   grid-column-start: 1;
   grid-column-end: 3;
   background-color: yellow;
   align-self: start;
}


@media (max-width: 1000px) {
   .decklist-col {
      grid-row-start: 3;
      grid-column-start: 1;
      grid-column-end: 2;
   }

   .grid-container {
      grid-row-gap: 20px;
      grid-template-columns: 1fr;
   }
   .header {
      grid-row-start: 1;
      grid-column-end: 2;
   }
}

@media (max-width: 480px) {
   /*
   .decklist-header {
      display: block;
   }
   */
   .grid-container {
      grid-row-gap: 20px;
   }
}
