.body {
}

.grid-container {
   display: grid;
   grid-template-columns: 700px 305px;
   grid-template-areas: 
      "header header"
      "arena decklist-area";

   grid-column-gap: 20px;
   justify-content: center; /* centers the whole app */
}

.arena {
   grid-area: "arena";
   background-color: green;
   display: grid;
   grid-template-areas:
      "title"
      "cards"
      "footer";

   grid-template-rows: 1fr auto 1fr;
}

.choose {
   font-size: 3em;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
   grid-area: "title";
}

.booster {
   background-color: cyan;
   grid-area: "cards";
}

.decklist {
   grid-area: "decklist";
   align-items: top;
   background-color: coral;
   height: 500px; /*TODO use vh units*/
   overflow-x: hidden;
   overflow-y: scroll;
   justify-self: stretch;
}

.decklist-header {
   justify-content: center;
   background-color: cyan;
   text-align: center;
}

.header {
   grid-area: "header";
   grid-column-start: 1;
   grid-column-end: 3;
   background-color: yellow;
   align-self: start;
}
