@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

.card {
   position: relative;
   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
   color: white;
   font-size: 18px;
   font-weight: bold;
   text-shadow: 2px 2px 5px black;

   padding: 0 10px;
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 30px;
   border-bottom: 3px solid black;
   /*border-left: 2px solid black;*/
   /* border-right: 2px solid black;*/
   background-size: 100%;
   white-space: nowrap;
   text-overflow: clip;
}

:host:first-of-type .card {
   border-top: 3px solid black;
}

.card-bg {
   position: absolute;
   height: 30px;
   /*background-position: -38px -75px;*/
   background-position: 40% 15%;
   background-size: 125%;
   background-repeat: no-repeat;
   width: 100%;
   right: 0;
   top: 0;
   box-shadow: inset 0 0 1em rgba(85,85,85,.5);
}

.card-darken, .card-flex{
   z-index: 2;
}
.card-flex{
   width: 100%;
   display:flex;
   justify-content: space-between;
}
.divider .card-flex div {
   width: 100%;
   text-align: right;
}

.card .card-darken{
   display:block;
   content:'';
   width:100%;
   height:30px;
   position:absolute;
   top:0;
   left:0;
   /*background:linear-gradient( to right, rgba(0,0,0,1), transparent); */
   /*background-image: url(../images/gradient-overlay.png);*/
   background-size: cover;
   z-index: 1;
   overflow:hidden;
}

.preview {
   position: relative;
}

.card-preview {
   display:none;
   position: absolute;
   z-index: 3;
   top: -30px;
   left: 3px;
}

.hold-preview-area {
   position: absolute;
   opacity: 0;
   height: 35px;
   width: 100%;
   z-index: 4;
   top: -35px;
}

.hold-preview-area:hover + .card-preview {
   display: block;
}
