.booster {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}

@media (max-width: 480px)  {
   .booster {
      flex-direction: column;
   }
}

app-card-detail {
   cursor: pointer;   
}
