.decklist {
	width:290px;
/*
	border-top: 10px solid transparent;
	border-bottom:10px solid transparent;
	border-radius:5px;
*/
  border-color: black;
  margin:0 auto 15px;
  background-color: black;

}
