.decklist {
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	width:290px;
	border-top: 10px solid transparent;
	border-bottom:10px solid transparent;
	border-radius:5px;
	border-color: $cardBorder;
  color: $white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 2px 2px 5px $cardBorder;
  background:$cardBorder;
  margin:0 auto 15px;

}
